<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
	<meta name="author" content="Adam Hudson"/>
	<meta name="robots" content="all"/>
	<meta name="description" content="Dee Why AL5 team page"/>
	<meta name="keywords" content="Dee Why Soccer AL5"/>
	<title>Dee Why AL5 - Access Denied</title>
	
	<link rel="SHORTCUT ICON" href="/images/deewhy.ico">
	<link rel="stylesheet" href="/style/style.css"/>
</head>

<body>

<h1>Access Denied</h1>
<p>You have entered incorrect username and password details.</p>
<p>Refresh this page to try again, or you may need to restart your browser. Contact Adam if you have forgotten the login details.</p>

</body>

</html>